// common

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  box-sizing: border-box;
  color: #333333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

ul {
    list-style: none;
}

a {
  color: #000;
  &:hover {
    text-decoration: none;
    color: #333333;
  }
}

.btn-primary {
  background-color: #4a90e2 !important;
}

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
  background: #eee;
}

// header

.header {
  width: 100%;
  height: 70px;
  padding: 4px 30px;
  background-color: #000000;
  i {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 18px;
  }
  .nav-item {
    display: inline-block;
    color: #fff;
    font-size: 14px;
  }
}

.header-left-nav {
  float: left;
  form {
    display: inline-block;
  }
  .form-control {
    width: 180px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    padding-left: 30px;
  }
}

.header-search {
  position: relative;
}
    
.header-right-nav {
  float: right;
}

.host-icon {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
}

.header-nav-menu {
  background-color: #fff;
  border: 3px solid #F6F8F9;
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px;
  z-index: 1000;
  li {
    line-height: 30px;
    font-size: 16px;
    padding: 3px 5px;
  }
}


// footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  margin-top: 64px;
  padding-top: 90px;
  background-color: #111;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

// home

.top {
  .top-main {
    background-image: url('https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg
  ');
    background-size: cover;
    width: 100%;
    height: 650px;
  }
  .form-fream {
    height: 650px;
    display: flex;
    align-items: center;
  }
  .form-area {
    background: #fff;
    padding: 24px;
    border-radius: 5px;
  }
  .form-area-title {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1px;
  }
  .panel-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  .section-title {
    font-size: 24px;
    margin: 35px 0;
    font-weight: bold;
  }
  span {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    margin: auto;
    text-align: center;
    font-size: 24px;
  }
}

// user-account

.user {
  .user-nav-pc {
    height: 100vh;
    .active {
      border-right: 3px solid #4a90e2;
      a {
        color: #4a90e2;
      }
    }
  }
  .user-nav {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
    li {
      font-size: 18px;
      padding: 10px;
    }
  }
  .user-nav-mobile {
    .active {
    border-bottom: 3px solid #4a90e2;
    }
    li {
      float: left;
    }
  }
  .user-view {
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
  }
  .user-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 30px auto;
  }
  .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
  }
  .update-content label {
    font-weight: bold;
  }
}

// user-profile
.icon-box {
  text-align: center;
}

.host-icon {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
}

.required-a::after {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

// signup

.device {
  padding-top: 36px;
  font-size: 16px;
  p {
    font-size: 16px;
  }
  a {
    color: #007bff !important;
  }
}

.device_frame {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(21, 27, 38, 0.15) 0px 1px 3px 0px;
}

.device_inner {
  width: 360px;
  margin: 0px auto;
}

div.field, div.actions {
   margin-bottom: 10px;
}

.required-b::before {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

#error_explanation {
  color: red;
  text-align: left;
  ul {
    color: red;
    margin: 0 0 30px 0;
    li {
      list-style: disc;
    }
  }
}

.field_with_errors {
  display: table;
  width: 83.333333%;
  border: 2px solid salmon;
  border-radius: 6px;
  .col-10 {
    max-width: 100%;
  }
}

.field_with_errors.parent {
  border: none;
}

.field_with_errors.edit {
  width: 100%;
}

.field_with_errors.parent.profile {
  width: 25%;
}

.field_with_errors.profile {
  width: 75%;
}

// rooms/new

.room-new {
  .room-nav{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
    li {
      font-size: 18px;
      padding: 10px;
    }
  }
  .room-nav-pc {
    height: 100vh;
    .active {
      border-right: 3px solid #4a90e2;
      a {
        color: #4a90e2;
      }
    }
  }
  .room-nav-mobile {
    height: auto;
    .active {
      border-bottom: 3px solid #4a90e2;
      a {
        color: #4a90e2;
      }
    }
    li {
      float: left;
    }
  }
  .room-view {
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
  }
  .room-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 50px auto;
  }
  .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
    label {
      font-weight: bold;
    }
  }
}



// rooms/search

.room {
  width: 100%;
  padding: 30px 60px;
}

.room-frame-inner {
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.room-image-out {
  position: relative;
  width: 100%;
  background: #F6F8F9;
  height: 200px;
}

.room-image {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 20px;
  object-fit: cover;
}

.room-profile {
  width: 100%;
  padding: 15px;
  p {
    word-break: break-all;
  }
}

.room-profile-name {
  font-size: 18px;
  font-weight: bold;
  color: #909090;
}

.room-profile-city {
  font-size: 16px;
  font-weight: bold;
}

.room-profile-price {
  text-align: right;
  font-size: 16px;
  letter-spacing: 1px;
}

.price-icon::before {
  content: "￥";
  padding-right: 3px;
}
